<!DOCTYPE html>
<html lang="es">
<head>
    <%- include ('parciales/header.ejs') %>
    <link rel="stylesheet" href="/css/estilos_index.css">
</head>

<body>
    <div class="container mt-4">
        <h1 class="text-center">Lista de clientes</h1>
        <table class="table table-bordered ">
            <thead>
                <tr class="text-center">
                    <th>N°</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i<datos.length; i++) { %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><%= datos[i].nombre %></td>
                        <td><%= datos[i].apellido %></td>
                        <td><%= datos[i].email %></td>
                        <td><%= datos[i].direccion %></td>
                        <td><%= datos[i].telefono %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <a class="btn btn-primary" href="/" role="button">Volver</a>
    </div>
</body>
</html>